name: Tests and linter

on:
  pull_request:
    branches: [ main ]

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Retrieve cached dependencies
        uses: Swatinem/rust-cache@v2

      # Check
      - name: Cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

      # Format
      - name: Cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      # Build
      - name: Cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build

  # Test
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup rust env
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          components: llvm-tools-preview
          toolchain: stable
      - name: Retreive cached dependecies
        uses: Swatinem/rust-cache@v2
      - name: Setup coverage env
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        # TODO: re-enable skipped tests when docker image is fixed
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info -- --skip build_deploy_sponsored_works_properly --skip build_deploy_works_properly --skip build_invoke_works_properly --skip estimate_deploy_and_invoke_same_contract_works_properly --skip estimate_deploy_and_invoke_same_contract_works_properly --skip execute_deploy_transaction_sponsored_works_properly --skip apply_max_fee_modifier_properly --skip apply_provider_fee_overhead_properly --skip estimate_deploy_and_invoke_works_properly --skip test_full_rebalancing_flow_with_devnet --skip test_no_rebalancing_needed_with_devnet --skip build_works_properly --skip return_error_if_not_available --skip return_error_if_token_not_supported --skip return_error_if_not_available --skip is_available_returns_false --skip is_available_returns_true --skip get_supported_tokens_works_properly --skip gasless_only_access_is_working_properly --skip self_sponsoring_is_working_properly
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./lcov.info
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}